{% extends 'base/base.html' %}
{% block title %}{{ paper.title }}{% endblock %}
{% block active3 %}active{% endblock %}
{% block content %}{% endblock %}
{% block content2 %}
  <div class="card card-default">
    <div class="card-body">
      {% if paper.url is not None %}
        <p class='card-text'>○タイトル :　<a href={{paper.url}}>{{ paper.title }}</a></p>
      {% else %}
        <p class='card-text'>○タイトル :　{{ paper.title }}</p>
      {% endif %}
      
      {% if paper.field is not None %}<p class='card-text'>○分野　 　:　{{ paper.field }}</p>{% endif %}
      {% if paper.author is not None %}<p class='card-text'>○著者　 　:　{{ paper.author }}</p>{% endif %}
      {% if paper.conference is not None %}<p class='card-text'>○会議名 　:　{{ paper.conference }}</p>{% endif %}
      {% if paper.year is not None %}<p class='card-text'>○年　　 　:　{{ paper.year }}</p>{% endif %}
      {% if paper.memo is not None %}<p class='card-title'>○感想</p><p class="card-text">{{ paper.memo|linebreaksbr }}</p>{% endif %}
    </div>
    <div class="card-footer">
       <form method="post" action="{% url 'paper:delete' paper.id %}">{% csrf_token %}
          <a class="btn btn-success" href="{% url 'paper:index' %}">論文一覧</a>
          <a class="btn btn-primary" href="{% url 'paper:update' paper.id %}?next={{ request.get_full_path }}">修正</a>
          <button class="btn btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
        </form>
    </div>
  </div>
{% endblock %}