{% extends "base/base.html" %}
{% block title %}論文リスト{% endblock %}
{% block active3 %}active{% endblock %}
{% block content %}
  <form class='mt-4' method="POST" action="{% url 'paper:sort' %}">
    <a class='btn btn-warning float-right' href="{% url 'paper:create' %}">論文追加</a>
    {% csrf_token %}
    {% for field in form %}
      <span class='m-3'>{{ field.label_tag }} {{ field }}</span>
    {% endfor %}
    <button class="btn-sm btn-primary" type="submit">並び替え</button>
  </form>
{% endblock %}
{% block content2 %}
  {% for paper in paper_list %}
    <div class="card card-default my-2 d-block d-md-none">
      <div class="card-body">
        <h5 class='card-title'>○タイトル</h5>
        {% if paper.url is not None %}
          <p class='card-text'><a href={{paper.url}}>{{ paper.title|linebreaksbr }}</a></p>
        {% else %}
          <p class='card-text'>{{ paper.title|linebreaksbr }}</p>
        {% endif %}
        {% if paper.year is not None %}
          <h5 class='card-title'>○年・感想</h5>
          <p class='card-text'>{{ paper.year }} {{ paper.conference|linebreaksbr }}</p>
        {% endif %}
        {% if paper.memo is not None %}
          <h5 class='card-title'>○感想</h5>
          <p class='card-text'>{{ paper.memo|linebreaksbr }}</p>
        {% endif %}
        <div class="card-footer">
          <form method="post" action="{% url 'paper:delete' paper.id %}">{% csrf_token %}
            <a class="btn btn-sm btn-success" href="{% url 'paper:detail' paper.id %}">詳細</a>
            <a class="btn btn-sm btn-primary" href="{% url 'paper:update' paper.id %}?next={{ request.get_full_path }}">修正</a>
            <button class="btn btn-sm btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="row">
    {% for papers in paper2 %}
      <div class="col-6 my-2 d-none d-md-block">
        {% for paper in papers %}
          <div class="card card-default my-2">
            <div class="card-body">
              <h5 class='card-title'>○タイトル</h5>
              {% if paper.url is not None %}
                <p class='card-text'><a href={{paper.url}}>{{ paper.title|linebreaksbr }}</a></p>
              {% else %}
                <p class='card-text'>{{ paper.title|linebreaksbr }}</p>
              {% endif %}
              {% if paper.year is not None %}
                <h5 class='card-title'>○年・感想</h5>
                <p class='card-text'>{{ paper.year }} {{ paper.conference|linebreaksbr }}</p>
              {% endif %}
              {% if paper.memo is not None %}
                <h5 class='card-title'>○感想</h5>
                <p class='card-text'>{{ paper.memo|linebreaksbr }}</p>
              {% endif %}
              <div class="card-footer">
                <form method="post" action="{% url 'paper:delete' paper.id %}">{% csrf_token %}
                  <a class="btn btn-success" href="{% url 'paper:detail' paper.id %}">詳細</a>
                  <a class="btn btn-primary" href="{% url 'paper:update' paper.id %}?next={{ request.get_full_path }}">修正</a>
                  <button class="btn btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %} 
      </div>
    {% endfor %}
  </div>
{% endblock %}

