{% extends "base/base.html" %}
{% block title %}メモリスト{% endblock %}
{% block active4 %}active{% endblock %}
{% block content %}
  <h3>研究方針メモ<a class='btn btn-warning float-right' href="{% url 'memo:create' %}">メモ追加</a></h3>
{% endblock %}
{% block content2 %}
  {% for memo in memo_list %}
    <div class="card card-default my-2 d-block d-md-none">
      <div class="card-body">
        <h5 class='card-title'>{{ memo.date.month }}/{{ memo.date.day }}</h5>
        <p class='card-text'>{{ memo.memo|linebreaksbr }}</p>
        <div class="card-footer">
          <form method="post" action="{% url 'memo:delete' memo.id %}">{% csrf_token %}
            <a class="btn btn-sm btn-primary" href="{% url 'memo:update' memo.id %}?next={{ request.get_full_path }}">修正</a>
            <button class="btn btn-sm btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
          </form>
        </div>
      </div>
    </div>
  {% endfor %}
  {% for memos in memo2 %}
    <div class="row">
      {% for memo in memos %}
        <div class="col-6 my-2 d-none d-md-block">
          <div class="card card-default">
            <div class="card-body">
              <h5 class='card-title'>{{ memo.date.month }}/{{ memo.date.day }}</h5>
              <p class='card-text'>{{ memo.memo|linebreaksbr }}</p>
              <div class="card-footer">
                <form method="post" action="{% url 'memo:delete' memo.id %}">{% csrf_token %}
                  <a class="btn btn-primary" href="{% url 'memo:update' memo.id %}?next={{ request.get_full_path }}">修正</a>
                  <button class="btn btn-danger" type="submit" onclick='return confirm("本当に削除しますか？");'>削除</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
